body {
  background-color: black;
  color: white;
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: monospace;
  margin-bottom: 6px;
}

h2 {
  text-align: center;
  font-family: monospace;
  margin-top: 0;
}


.material {
  border: 1px solid #aaa;
  padding: 7px;
  padding-top: 4px;
  min-width: 100px;
  max-width: 100px;
  cursor: pointer;
}

.material:hover {
  border: 2px solid #fff;
  padding: 6px;
  padding-top: 3px;
  z-index: 1;
}

.spacer {
  min-width: 40px;
}

.tool {
  padding: 10px;
  cursor: pointer;
}

.tool:hover {
  padding: 3px;
  border: 7px solid #00436f;
  border-style: dashed;
}

.material.selected, .material.selected:hover {
  border: 3px solid #ff0;
  padding: 5px;
  padding-top: 2px;
}

.selected {
  cursor: default;
}

#hovered, #hovered:hover {
  border: 3px solid #0ff;
  padding: 7px;
  padding-top: 2px;
  cursor: default;
}

#materials {
  position: fixed;
  padding: 5px;
  display: flex;
}

#palette {
  display: flex;
}

#cell-cursor {
  position: absolute;
  visibility: hidden;
  min-width: 9px;
  max-width: 9px;
  min-height: 18px;
  max-height: 18px;
  background-color: #ffffff50;
  pointer-events: none;
}

#editor-container {
  display: flex;
  flex-direction: column;
}

#editor {
  border: 1px solid white;
  align-self: center;
  cursor: cell;
}

#toolbox {
  border: 3px double white;
  min-width: 70px;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
}
