body {
  background-color: black;
  color: white;
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: monospace;
}

h2 {
  text-align: center;
  font-family: monospace;
}

.material {
  border: 1px solid #aaa;
  padding: 7px;
  padding-top: 4px;
  min-width: 100px;
  max-width: 100px;
}

.material:hover {
  border: 2px solid #fff;
  padding: 6px;
  padding-top: 3px;
  z-index: 1;
  cursor: pointer;
}

.spacer {
  min-width: 40px;
}

.selected, .selected:hover {
  border: 3px solid #ff0;
  padding: 5px;
  padding-top: 2px;
  cursor: default;
}

#hovered {
  border: 3px solid #0ff;
  padding-top: 2px;
  cursor: default;
}

#materials {
  position: fixed;
  padding: 5px;
  display: flex;
}

#palette {
  display: flex;
}
